<div class="container">
    <div class="row">
        <section class="main col-md-12">
            <article>
                <h2>Avinash Singh - the DEVELOPER</h2>
                <p>Hello there,</p>
                <p>I AM AVINASH SINGH, I AM CURRENTLY STUDYING IN 3RD SEMESTER IN CPD PROGRAM AT SENECA. I WANT TO BE A DB ADMIN WHEN I GRADUATE FROM HERE.</p>
            </article>
        </section>
    </div>
</div>
