<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>WEB322 App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
    <link rel="Stylesheet" href="/css/site.css">
</head>

<body>
    <h1>Avinash's App</h1>
    <nav>
        <ul class="pull-left">    
            <li> <a href="/"> Home </a> </li>   
            <li> <a href="/about"> About </a> </li>
        </ul>
        <ul class="pull-right">
            <li> <a href="/employees"> All Employees </a> </li>
            <li> <a href="/managers"> Managers </a> </li> 
            <li> <a href="/departments"> Departments </a> </li>
        </ul>
    </nav>
    <div class="container">
        {{{body}}} 
    </div>
    <footer>
        <div class=" container ">
            <h2> © 2017 - Avinash Singh </h2>
        </div>
    </footer>
</body>

</html>